*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Courier Prime', monospace;
}
a{
    text-decoration: none;
    color: #111;
}

ul{
    list-style-type: none;
}

img{
    max-width: 100%;
}
